<span id='main-cont-p'>
<form method='post' action='/guestbook'>
    <label for="content">enter a "signature" post:</label>
    <input name="content" typle='text'/></br>
    <input type='submit' value="Create Post"/>
</form>
</span>