<span id='main-cont-p'>
<form method='post' action='/event/event_edit/<%= @event.id%>'>
    <label for='event_name'>Edit the Event name:</label>
    <input name='event_name' type='text'></br>
    <label for='desc'>Edit the Event description:</label>
    <input name='desc' type='text'></br>    
    <label for='start_time'>Edit the Event's start time:</label>
    <input name='start_time' type='text'></br>
    <label for='end_time'>Edit the Event's end time:</label>
    <input name='end_time' type='text'></br>    
    <label for='location'>Edit the Event's location:</label>
    <input name='location' type='text'></br>    
    <input type='submit' value='Edit Event'/>
</form>
</span>