<span id='main-cont-p'>
<form method='post' action='/registry'>
    <label for="item_name">enter a registry item's name:</label>
    <input name="item_name" typle='text'/></br>
    <label for="item_link">enter a link to the registry item:</label>
    <input name="item_link" typle='text'/></br>
    <input type='submit' value="Create Reg Item"/>
</form>
</span>