<span id='main-cont-p'>
    </br>
    <p> please edit or add your story</p>
    </br>
    
    <form method='post' action='/story'>
    <textarea name="new_story" style="height:100px; width:90%"><%= @couple_story%></textarea>
    <input type='submit' value='Submit Story'>
    </form>
</span>