<form method='post' action='/login'>
    <label for='username'>Please enter your username:</label>
    <input name='username' type='text'/></br>
    <label for='password'>Please enter your password:</label>
    <input name='password' type='password'/>
    <input type='submit' value='Log-in'/>
</form>