<span id='main-cont-p'><form method='post' action='/login'></br>
<%= @error if !!@error %></br>
    <label for='username'>Please enter your username:</label>
    <input name='username' type='text'/></br>
    <label for='password'>Please enter your password:</label>
    <input name='password' type='password'/></br>
    <input type='submit' value='Log-in'/> </br> </br>
</form></span>
