<span id='main-cont-p' class='inp'>

<% if @current_user %>
    <% @current_user.errors.full_messages.each do |x| %>
    <p> <%= x %></p>
    <%end%>
<%end%>

<form method='post' action='/signup'>
    <label for='username'>Please enter your username:</label>
    <input name='username' type='text'/></br>
    <label for='password'>Please enter your password:</label>
    <input name='password' type='password'/></br>
    <label for='name'>Please enter your name:</label>
    <input name='name' type='text'/></br>
    <label for='email'>Please enter your email:</label>
    <input name='email' type='text'/></br>
    <input type='submit' value='Sign-up'/>
</form></span>