<span id='main-cont-p'>That username seems to be taken, please chose to either:</br></br>
<a href='/signup'>Sign-Up with a different username </a></br><a href='/login'>log in with correct password if you are that user</a></span>